@use '../../../../assets/sass/variables.scss' as *;


.beer {
    border: none;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: $colour-one;

   &__image{
    height: 25vh;
    padding:5px;
   }

   &__name{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-size: 20px;
   }

   &__info{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   }
}

.beer:hover{
    background-color: $colour-four;
}